/* src/container/auth/login.css */

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto; /* Cải thiện khoảng cách trên */
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px; /* Tăng khoảng cách giữa tiêu đề và form */
  font-size: 28px;
  color: #333;
  font-weight: bold; /* Làm cho tiêu đề đậm */
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 20px; /* Thêm khoảng cách giữa các trường nhập */
}

label {
  font-size: 16px; /* Tăng kích thước chữ của label */
  margin-bottom: 8px; /* Khoảng cách giữa label và input */
  color: #555;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px; /* Tăng padding để input thoải mái hơn */
  font-size: 16px; /* Tăng kích thước font cho dễ đọc */
  border: 1px solid #ccc;
  border-radius: 6px; /* Cải thiện hình dạng bo góc */
  background-color: #fff;
  transition: all 0.3s ease; /* Mượt mà hơn khi thay đổi màu sắc */
}

input:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3); /* Thêm bóng nhẹ khi input được focus */
}

button {
  padding: 14px;
  font-size: 18px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Thêm khoảng cách trên cho nút */
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #388e3c;
}

button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

/* src/container/auth/login.css */

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 15px; /* Đặt biểu tượng mắt ở phía bên phải */
  top: 70%; /* Đặt biểu tượng vào giữa chiều cao của input */
  transform: translateY(-50%); /* Căn chỉnh chính xác vào giữa */
  cursor: pointer;
  color: #888;
  font-size: 18px; /* Điều chỉnh kích thước biểu tượng mắt */
  transition: color 0.3s ease;
}

.eye-icon:hover {
  color: #4caf50; /* Màu khi hover */
}
