@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.section-about {
  /* border: 1px solid red; */
  position: relative;
  height: 400px;
  /* background: #f5f5f5;
  border: 1px solid red; */
  margin-top: 30px;
  background: rgb(247, 245, 245);
}
.about-container {
  margin: 0 50px;
}

.about-header {
  height: 40px;
  /* border: 1px solid green; */
  padding-top: 10px;
  text-align: center;
}
.about-content {
  display: flex;
  justify-content: space-between;
}
.title-section {
  font-size: 22px;
  font-weight: 600;
}

.content-left {
  margin-top: 20px;
  border-radius: 5px;
  /* border: 1px solid red; */
  width: 40%;
}

.content-left iframe {
  border-radius: 10px;
  overflow: hidden; /*bảo đảm phần video k tràn*/
  width: 100%;
}

.content-right {
  margin-top: 20px;
  border-radius: 5px;
  width: 50%;
  /* border: 1px solid green; */
}
