@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.section-handbook {
  position: relative;
  height: 360px;
  /* background: #f5f5f5;
  border: 1px solid red; */
  margin-top: 30px;
}

.handbook-container {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}

.specail-header {
  height: 60px;
  border: 1px solid orangered;
}

.specailty-body {
  /* border: 1px solid red; */
  margin-top: 20px;
}

.handbook-customize {
  /* border: 1px solid blue; */

  padding: 5px; /* Tùy chỉnh thêm nếu muốn thêm khoảng cách nội bộ */
  box-sizing: border-box;
  background: white;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}
img {
  /* height: 215px;
  width: 329px; */
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  color: transparent;
  padding: 10px;
}

.text-content {
  font-size: 18px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
}

.text-content:hover {
  background: #007bff;
  color: white;
  border-radius: 5px;
}

.handbook-header {
  height: 40px;
  /* border: 1px solid green; */
  padding-top: 10px;
}

.title-section {
  font-size: 22px;
  font-weight: 600;
}

.btn-section {
  float: right;
  padding: 10px 15px;
  /* border: none; */
  outline: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  border: 5px;
}

.btn-section:hover {
  background: #007bff;
  color: white;
  border-radius: 5px;
}

/* -------------------Slider----------------------- */
