#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.logout-button {
  margin-top: 20px; /* Khoảng cách từ phía trên */
  display: block; /* Đẩy nút ra một dòng riêng */
}

.title {
  font-size: 2rem; /* Tăng kích thước chữ */
  font-weight: bold; /* Làm chữ đậm hơn (tuỳ chọn) */
  margin-top: 20px; /* Cách header phía trên */
  margin-bottom: 15px; /* Cách phần dưới một chút */
  text-transform: uppercase; /* In hoa chữ (tuỳ chọn) */
}
