.appointment-page {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.appointment-grid-container {
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumb {
  font-size: 16px;
  margin-bottom: 20px;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb span {
  margin: 0 5px;
}

.appointment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.appointment-item {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-left: 5px solid transparent;
  position: relative;
}

.appointment-item:hover {
  transform: translateY(-5px);
}

.appointment-item p {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}

.no-data p {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.abort {
  padding: 5px;
  /* border: 2px; */
  background-color: rgba(240, 46, 46, 0.836);
}

.abort:hover {
  background-color: red;
}

.status-filter {
  margin-bottom: 10px;
}

.appointment-item.status-1 {
  border-left-color: #f1c40f; /* Màu vàng cho lịch mới đặt */
}

.appointment-item.status-2 {
  border-left-color: #2ecc71; /* Màu xanh lá cho lịch đã khám xong */
}

.appointment-item.status-3 {
  border-left-color: #e74c3c; /* Màu đỏ cho lịch đã hủy */
}

.payment {
  padding: 5px;
  /* border: 2px; */
  background-color: rgba(46, 240, 88, 0.836);
}
.payment:hover {
  background-color: green;
}

.ribbon {
  position: absolute;
  bottom: 10px; /* Đưa xuống dưới */
  left: 10px; /* Canh về trái */
  width: 150px;
  background: #00a878;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  /* transform: rotate(-30deg); Đổi góc nghiêng */
  transform: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  border-radius: 3px;
}

.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  top: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: #008d6c transparent transparent transparent;
}

.ribbon::before {
  left: 0;
}

.ribbon::after {
  right: 0;
}
